:root {
	/* Colors */
	--dark: #181818;
	--light: #c8c8c8;
	--lighter: #e0e0e0;
	--brand: #ffde21;

	/* Fun colors */
	--unicorn: linear-gradient(135deg, #ff9a9e, #fad0c4, #fad0c4, #fbc2eb, #a18cd1, #8ec5fc, #a6c1ee);

	/* Breakpoints */
	--sm: 720px;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--dark);
	color: var(--lighter);
	font-family: 'Nunito', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: var(--brand);
	text-decoration: none;
}

h2,
h3,
h4 {
	margin: 0;
}

h1 {
	color: var(--brand);
	font-size: 1.8rem;
	font-weight: 700;
	margin-bottom: 1.2rem;
	margin-top: 0;
}

h2 {
	font-size: 1.1rem;
	font-style: italic;
	font-weight: 500;
	margin: 0;
}

p {
	font-size: 1rem;
	font-weight: 200;
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
}

ol li::marker {
	color: var(--brand);
}

code {
	font-family: 'Fira Code', sans-serif !important;
}
